.container {
    font-family: 'Comfortaa', cursive;
}

.title, .main{
justify-content: center;
}
h1 {
    color: rgb(87, 154, 221);
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
    font-family: 'Miltonian', cursive;
    font-size: 50px;
    font-weight: 600;
}
.weather {
    text-align: right;
}
.forecast {
    text-align: left;
}

.col-6.main {
    border: 3px solid black;
    opacity: 0.85;
    border-radius: 15px;
}

.first {
    background-color: rgb(87, 154, 221);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.search {
    background-color: rgb(87, 154, 221);
    color: #ffff;
    border: #ffff;
    border-radius: 5px;
    padding: 1px 14px;
}

.date {
    text-align: center;
    color: rgb(66, 137, 209);
    font-size: larger;
    font-weight: bold;
}

.celsius, .fahrenheit {
    text-decoration: none;
    color: #ffff;
}

.form {
    margin: auto;
    width: 100%;
}

.input {
    padding: 16px 8px;
    margin: auto;
    display: flex;
    
}

.currently {
    font-size: 32px;
    color: #ffff;
    text-align: right;
    margin: auto;
    padding: 0;
}

.convert {
    font-size: 20px;
    color: #ffff;
    text-align: left;
    margin: auto;
    padding: 0 0 0 10px;

}
.form-control {
    font-size: 20px;
    max-width: auto;
    
}

.description {
    font-size: 18px;
    text-transform: capitalize;
    color: #ffff;
    text-align: center;
    margin: auto;
    padding: 0;
    letter-spacing: 0.8;
}

.symbols {
    margin: auto;
    text-align: center;
}

.icons{
    width: 55px;
}

.current {
    font-size: 35px;
    color: #ffff;    
}

.week {
    padding-top: 16px;
    margin: 0 auto;
}

.humidity {
    text-align: right;
}

.hr {
    color: #ffff;
}

.contact {
    text-align: center;
}